body {
  background: url('assets/spaceBanner.jpg') no-repeat center center fixed;
  background-size: cover;
}

.dialog-box {
  max-width: 800px;
  max-height: 810px; 
}
.chat-window {
  height: 350px;
  overflow: auto;
}
.cancel-btn {
   margin-right: 20px; 
}

.games-window {
  height: 660px; 
  overflow: auto;
}

.game-icon {
  width: 100px;
  height: 100px; 
}

.player-videos {
  height: 200px;
}

.feed-window {
  height: 320px;
  width: 200px;
  overflow: auto;
}

