@font-face {
  font-family:"Pirate Font";
  src: url('assets/BOOTERFF.ttf') format("truetype");
}

body {
  background: url('assets/spaceBanner.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: "Pirate Font";
}

.dialog-box {
  max-width: 800px;
  max-height: 810px;
}
.chat-window {
  height: 350px;
  overflow: auto;
  padding-bottom: 0;
}
.cancel-btn {
   margin-right: 20px; 
}

.games-window {
  height: 585px; 
  overflow: auto;
}

.game-icon {
  width: 100px;
  height: 100px; 
}

.my-video {
  height: 200px;
  width: 100%;
}

.my-video video{
  width: 100%;
  height: 100%;
  margin: 7px 0 0 0;
}

.player-videos {
  width: 840px;
  height: 200px;
}

.player-videos video{
  width:280px;
  height: 200px;
  vertical-align: center;
  margin: 5px;
}

.side-bar {
  margin-left: 10px;
  width: 280px;
}

.feed-window {
  height: 420px;
  width: 280px;
  overflow: auto;
  color: orange;
  background-color: white;
  opacity: 0.8;
}

.orange-border {
  border: 1px solid orange;
}

.header-text {
  text-align: center;
  font-size: 50px;
  padding: 0px 10px 0px 10px;
}

.title-text {
  font-size: 45px;
}
.normal-text{
  font-size: 20px;
}

.username {
  color: orange;
}

.feed-posts{
  margin: 10px;
  padding: 0;
  color: black;
}

