### node etc ###

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Compiled Dirs (http://nodejs.org/api/addons.html)
server/build/
client/dist/

# Dependency directorys
node_modules/
client/bower_components/
.env

# AWS

# Misc
*.pem
.DS_Store

# DB
rethinkdb_data/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


