<md-dialog aria-label="Welcome">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Welcome to Space Pirates</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">X</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="signin">
          <md-content class="md-padding">
            <h1 class="md-display-2">Sign In</h1>
              <!-- FORM HERE -->
          </md-content>
        </md-tab>
        <md-tab label="signup">
          <md-content class="md-padding">
            <h1 class="md-display-2">Sign Up</h1>
              <!-- FORM HERE -->
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="submit()" >
        Submit
      </md-button>
      <md-button ng-click="cancel()" style="margin-right:20px;" >
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
