<md-dialog aria-label="Welcome">
    <md-toolbar>
        <h2 class="title-text">Welcome</h2>
        <span flex></span>
    </md-toolbar>
    <md-dialog-content class="dialog-box">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="signin" md-on-select='data.action="signin"'>
          <md-content class="md-padding">
            <!-- SIGN IN FORM -->
            <form name="signinForm">
              <div layout-gt-sm="row">
                <md-input-container flex>
                  <label class="normal-text">Username</label>
                  <input name="username" type="text" ng-model='data.user.username' required  />
                  <div ng-messages="signinForm.username.$error" ng-show="signinForm.username.$dirty">
                    <div ng-message="required">Username is required</div>
                  </div>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container flex>
                  <label class="normal-text">Password</label>
                  <input name="pwd" type="password" ng-model='data.user.password' required />
                  <div ng-messages="signupForm.pwd.$error" ng-show="signinForm.pwd.$dirty">
                    <div ng-message="required">Password is required</div>
                  </div>
                </md-input-container>
              </div>
            </form>
          </md-content>
        </md-tab>
        <md-tab label="signup" md-on-select='data.action="signup"'>
          <md-content class="md-padding">
            <!-- SIGN UP FORM -->
            <form name="signupForm" novalidate>
              <div layout-gt-sm="row">
                <md-input-container>
                  <label class="normal-text">Name</label>
                  <input name="name" type="text" ng-model='data.user.name' required/>
                  <div ng-messages="signupForm.name.$error">
                    <div ng-message="required">Name is Required</div>
                  </div>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container>
                  <label class="normal-text">Email</label>
                  <input name="emailAddress" type="email" ng-model='data.user.email' ng-required="true"/>
                  <div ng-messages="signupForm.emailAddress.$error" ng-show="(signupForm.emailAddress.$error.email || signupForm.emailAddress.$error.required) && signupForm.emailAddress.$touched">
                    <div ng-message="required">Email is required</div>
                    <div ng-message="email">Enter valid email address</div>
                  </div>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container flex>
                  <label class="normal-text">Username</label>
                  <input name="username"type="text" ng-model='data.user.username'  md-maxlength="10"  required  minlength="3"/>
                  <div ng-messages="signupForm.username.$error" ng-show="signupForm.username.$touched">
                    <div ng-message="required">Username is required</div>
                    <div ng-message="md-maxlength">Username is too long</div>
                    <div ng-message="minlength">Username is too short</div>
                  </div>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container flex>
                  <label class="normal-text">Password</label>
                  <input name="pwd" type="password" ng-model='data.user.password' required minlength="3" />
                  <div ng-messages="signupForm.pwd.$error" ng=show="signupForm.pwd.$touched">
                    <div ng-message="required">Password is required</div>
                    <div ng-message="minlength">Password must contain atleast 3 characters</div>
                  </div>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container flex>
                  <label class="normal-text">Confirm</label>
                  <input name="confirmPassword" type="password" ng-model='cpass' required compare-to="data.user.password"/>
                  <div ng-messages="signupForm.confirmPassword.$error">
                    <div ng-message="comparePassword">Must Much the previous entry</div>
                  </div>
                </md-input-container>
              </div>
            </form>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
    <!-- BUTTONS -->
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button  class="normal-text" ng-click="submit()" ng-disabled="(data.action ==='signup' && !signupForm.$valid) || (data.action==='signin' && !signinForm.$valid) ">
        Submit
      </md-button>
      <md-button class="normal-text" class="cancel-btn" ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
</md-dialog>
