<div layout="row" layout-align="center">
  <div layout="column">
    <div class="player-videos" layout="row">
      <div layout="column">
        <div id="player2"></div>
      </div>
      <div layout="column">
        <div id="player3"></div>
      </div>
      <div layout="column">
        <div id="player4"></div>
      </div>
    </div>
    <div layout="row">
      <div layout="column" class="game">
        <div ui-view></div>
      </div>
    </div>
  </div>
  <div layout="column">
    <div layout="row">
      <md-toolbar>
          <h1 class="md-toolbar-tools">Space Pirates</h1>
      </md-toolbar>
    </div>
    <md-card>
      <md-card-title>Game Feed</md-card-title>
      <md-content class="feed-window" ng-model="gameFeed" layout="column">
        <p ng-repeat="gameChat in gameFeed" class="md-body-2">{{ gameChat.user }}: {{gameChat.message}}</p>
      </md-content>
      <form ng-submit="chatSubmit(gameChat)">
        <div layout-gt-sm="row">
          <md-input-container flex>
            <label>Game Chat</label>
            <input type="text" layout="column" type="text" ng-model="gameChat"/>
          </md-input-container>
        </div>
      </form>
    </md-card>
    <div layout="column" class="player-videos" layout-align="end">
      <div id="myVid"></div>
    </div>
  </div>
</div>
