<md-dialog aria-label="Welcome">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create A Game</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">X</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="dialog-box">
          <md-content class="md-padding">
            <!-- FORM HERE -->
            <form name="gameForm">
              <div layout-gt-sm="row">
                <md-input-container flex>
                  <label>Game Title</label>
                  <input name="title" type="text" ng-model='data.game.title' required/>
                  <div ng-messages="gameForm.title.$error">
                    <div ng-message="required">Game Title is required</div>
                  </div>
                </md-input-container>
              </div>
            </form>
          </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="submit()" ng-disabled="gameForm.$invalid">
        Submit
      </md-button>
      <md-button class="cancel-btn" ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
</md-dialog>
