<div layout="row">
  <div layout="column" flex="75" class="menu">
      <div ui-view></div>
  </div>
  <div layout="column" flex="25">
    <md-toolbar>
      <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-card>
      <md-button ui-sref="menu.lobby">
        <a>Lobby</a>
      </md-button>
    </md-card>
    <md-card>
      <md-button ui-sref="menu.instructions">
        <a>How To Play</a>
      </md-button>
    </md-card>
    <md-card>
      <md-button ui-sref="logout" ng-click='signout()'>
        <a>Logout</a>
      </md-button>
    </md-card>
    <md-card>
        <md-content>
            <md-card-title>Lobby Chat</md-card-title>
            <md-content class="chat-window" ng-model="feed" layout="column">
              <p ng-repeat="chat in feed" class="md-body-2">{{ chat.user }}: {{chat.message}}</p>
            </md-content>
            <form ng-submit="submit(chat)">
              <div layout-gt-sm="row">
                <md-input-container>
                  <label>Lobby Chat</label>
                  <input type="text" layout="colum" type="text" ng-model='chat'/>
                  <md-button layout="column">
                    <a>Submit</a>
                  </md-button>
                </md-input-container>
              </div>
            </form>
          </md-content>
    </md-card>
  </div>
</div>
